<div class="question">
  <h3> <em><%= @question  %></em> </h3>
  <p> <em>-You</em> </p>
</div>

<div>
  <h3> <em><%= @reply  %></em> </h3>
  <p> <em>-Your coach</em> </p>
</div>

<p><%= link_to("Ask again!", ask_path) %></p>

