<form action="answer">
  <input type="text" name="question">
  <input style="background-color:#3379b7; color: white; border:none; padding: 4px; border-radius: 8px" type="submit" value="Ask!">
</form>
