// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$divcolor: #ffffe1;

.container {
  background: none;
  margin: 0 auto;
  padding: 8px;
}

div {
  background: $divcolor;
  padding: 16px;
  margin: 8px;
  border-radius: 16px
}


.question {
  background: #60a9ea;
}

a {
  color: #60a9ea;
  text-decoration: none;
}
